.weather-wrapper {
    display: flex;
    flex-direction: column;
}

.current-weather {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.icon {
    max-width: 10%;
}

.temperature {
    font-size: 54px;
    font-weight: 500;
    color: white;
}

.city {
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 500;
    color: white;
}

.description {
    font-size: 16px;
    color: white;
    letter-spacing: 2px;
}

.search-bar-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.search-bar {
    width: 20%;
    height: 35px;
    border: 2px solid rgba(255, 255, 255, 0.575);
    outline: none;
    border-left: 0;
    background-color: rgba(255, 255, 255, 0.192);
    padding-left: 5px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.808);
}

.search-bar::placeholder {
    color: rgba(63, 63, 63, 0.685);
    font-size: 16px;
}

.search-btn {
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.192);
    color: rgba(255, 255, 255, 0.842);
    border: 2px solid rgba(255, 255, 255, 0.74);
    outline: none;
    cursor: pointer;
    font-size: 14px;
}