.weather-wrapper {
    display: flex;
    flex-direction: column;
}

.current-weather {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.icon {
    max-width: 10%;
}

.temperature {
    font-size: 54px;
    font-weight: 500;
    color: white;
}

.city {
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 500;
    color: white;
}

.description {
    font-size: 16px;
    color: white;
    letter-spacing: 2px;
}

.search-bar-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

form {
    display: flex;
}

.search-bar, .search-btn, .location-btn {
    border: 2px solid rgba(255, 255, 255, 0.575);
    outline: none;
}

.search-bar {
    width: 300px;
    height: 40px;
    border-left: 0;
    background-color: rgba(255, 255, 255, 0.192);
    padding-left: 5px;
    border-right: 0;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.63);
}

.search-bar::placeholder {
    color: rgba(63, 63, 63, 0.685);
    font-size: 18px;
}

.search-btn {
    padding: 0 10px;
    background-color: rgba(23, 92, 156, 0.555);
    color: rgba(255, 255, 255, 0.842);
    cursor: pointer;
    font-size: 16px;
}

.search-btn:hover {
    background-color: rgb(3, 73, 139);
    color: rgb(255, 255, 255);
    transition: ease-in 0.2s;
    border-color: rgba(23, 92, 156, 0.555);
    font-size: 17px;
}

.location-btn {
    color: rgb(14, 74, 212);
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.192);
    cursor: pointer;
    border-left: 0;
    font-size: 18px;
}

.location-btn:hover {
    color: rgb(2, 43, 109); 
    transition: ease-in 0.2s;
}