section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.details-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.356);
    border-right: 1px solid rgba(255, 255, 255, 0.356);
    background: linear-gradient(180deg, rgba(0,61,117,1) 0%, rgba(0,38,73,1) 100%);
    box-shadow: 0px 0px 20px 10px rgba(21, 109, 167, 0.767);
    margin-top: 30px;
}

article {
    padding: 20px 0px;
    width: 20%;
    border: 1px solid rgba(255, 255, 255, 0.267);
    border-left: 0;
    border-right: 0;
}

article>p {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.74);
    font-weight: 500;
    letter-spacing: 2px;
}

article>span {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.767);
    font-weight: 400;
}

.back-btn {
    flex-grow: 1;
}

article>button {
    font-size: 20px;
    padding: 20px 110px;
    background-color: #0000006e;
    outline: none;
    border: none;
    color: #ffffffb8;
    font-weight: 400;
    text-transform: uppercase;
}

article>button:hover {
    background-color: rgba(0, 0, 0, 0.76);
    cursor: pointer;
    transition: ease-out 0.2s;
}