<section>
    <div class="details-wrapper">
        <article class="sunrise">
            <p>Sunrise</p>
            <span>{{sunrise}}</span>
        </article>
        <article class="sunset">
            <p>Sunset</p>
            <span>{{sunset}}</span>
        </article>
        <article class="feels-like">
            <p>Feels Like</p>
            <span>{{feelsLike}}</span>
        </article>
        <article class="humidity">
            <p>Humidity</p>
            <span>{{humidity}}</span>
        </article>
        <article class="min-temp">
            <p>Low</p>
            <span>{{minTemp}}</span>
        </article>
        <article class="max-temp">
            <p>High</p>
            <span>{{maxTemp}}</span>
        </article>
        <article class="clouds">
            <p>Clouds</p>
            <span>{{clouds}}</span>
        </article>
        <article class="wind">
            <p>Wind</p>
            <span>{{wind}}</span>
        </article>
        <article class="pressure">
            <p>Pressure</p>
            <span>{{pressure}}</span>
        </article>
        <article class="back-btn">
            <button (click)="goBack()">Back</button>
        </article>
        <article class="visibility">
            <p>Visibility</p>
            <span>{{visibility}}</span>
        </article>
    </div>
</section>