<section>
    <app-weather-now></app-weather-now>
    <div class="details-wrapper">
        <article class="sunrise">
            <p>Sunrise</p>
            <span>{{sunrise}}</span>
        </article>
        <article class="sunset">
            <p>Sunset</p>
            <span>{{sunset}}</span>
        </article>
        <article class="feels-like">
            <p>Feels Like</p>
            <span>{{feelsLike}}&#176;</span>
        </article>
        <article class="humidity">
            <p>Humidity</p>
            <span>{{humidity}}%</span>
        </article>
        <article class="min-temp">
            <p>Low</p>
            <span>{{minTemp}}&#176;</span>
        </article>
        <article class="max-temp">
            <p>High</p>
            <span>{{maxTemp}}&#176;</span>
        </article>
        <article class="clouds">
            <p>Clouds</p>
            <span>{{clouds}}%</span>
        </article>
        <article class="wind">
            <p>Wind</p>
            <span>{{wind}} m/s</span>
        </article>
        <article class="pressure">
            <p>Pressure</p>
            <span>{{pressure}} hPa</span>
        </article>
        <article class="visibility">
            <p>Visibility</p>
            <span>{{visibility}}m</span>
        </article>
    </div>
    <app-weather-options></app-weather-options>
</section>