<section class="weather-wrapper">
    <article class="current-weather">
        <img class="icon" src='../../../assets/img/weather-conditions/sun.svg' alt="">
        <p class="temperature">{{temperature}}&#176;</p>
        <p class="city">{{city}}</p>
        <p class="description">{{description}}</p>
    </article>
    <article class="search-bar-wrapper">
        <form #f="ngForm" (ngSubmit)="searchHandler(f.value); f.reset()">
            <button class="search-btn"><i class="fas fa-search"></i></button>
            <input name="searchedCity" class="search-bar" type="text" placeholder="Search by City..." ngModel>
            <button class="location-btn"><i class="fas fa-location-arrow"></i></button>
        </form>
    </article>
</section>