:host {
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

.weather-wrapper {
    display: flex;
    flex-direction: column;
}

.current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    max-width: 50%;
    min-width: 50%;
}

.temperature {
    font-size: 64px;
    font-weight: 500;
    color: white;
}

.city {
    font-size: 46px;
    letter-spacing: 2px;
    font-weight: 500;
    color: white;
}

.description {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.866);
    letter-spacing: 2px;
}

.search-bar-wrapper {
    display: flex;
    margin-top: 30px;
}

form {
    display: flex;
}

.search-bar, .search-btn, .location-btn {
    border: 2px solid rgba(255, 255, 255, 0.575);
    outline: none;
}

.search-bar {
    width: 500px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.192);
    padding-left: 10px;
    border-right: 0;
    border-left: 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.63);
}

.search-bar::placeholder {
    color: rgba(63, 63, 63, 0.685);
    font-size: 20px;
}

.search-btn {
    padding: 0 20px;
    background-color: rgba(23, 92, 156, 0.342);
    color: rgba(255, 255, 255, 0.842);
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-btn:hover {
    background-color: rgba(3, 73, 139, 0.726);
    color: rgb(255, 255, 255);
    transition: ease-in 0.2s;
    border-color: rgba(23, 92, 156, 0.555);
    font-size: 17px;
}

.location-btn {
    color: rgb(14, 74, 212);
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.192);
    cursor: pointer;
    font-size: 18px;
    border-left: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.location-btn:hover {
    color: rgb(2, 43, 109);
    transition: ease-in 0.2s;
}