.navigation-wrapper {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

li:hover {
    background-color: rgba(61, 107, 138, 0.74);
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.home, .login, .account, .my-cities {
    margin-right: 10px;
}

.login {
    background-color: #003E87;
}

.sign-up {
    background-color: #007661;
}

.logout {
    background-color: rgb(23, 129, 139);
}