<nav class="navigation-wrapper">
    <article>
        <ul>
            <li class="home">
                <a [routerLink]="['']">Home</a>
            </li>
            <li *ngIf="!(isLogged$ | async)" class="login">
                <a [routerLink]="['/user/login']">Login</a>
            </li>
            <li *ngIf="!(isLogged$ | async)" class="sign-up">
                <a [routerLink]="['/user/signup']">Sign Up</a>
            </li>
            <li *ngIf="(isLogged$ | async)" class="my-cities">
                <a [routerLink]="['/user/my-cities']">My Cities</a>
            </li>
            <li *ngIf="(isLogged$ | async)" class="logout">
                <a (click)="logoutHandler()">Logout</a>
            </li>
        </ul>
    </article>
</nav>