.navigation-wrapper {
    display: flex;
    flex-direction: row;
}

button {
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
}

button:hover {
    background-color: rgba(61, 107, 138, 0.74);
    cursor: pointer;
    color: white;
}

.login-btn {
    margin-right: 10px;
    background-color: #003E87;
}

.sign-up-btn {
    background-color: #007661;
}