section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.daily-weather-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: -10px;
}

.daily-weather {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 30px;
    background: linear-gradient(180deg, rgba(0, 61, 96, 1) 0%, rgba(51, 21, 102, 1) 44%, rgba(40, 16, 80, 1) 72%, rgba(0, 0, 0, 1) 92%);
    margin: 0px 20px;
    border-radius: 5px;
    width: 220px;
    max-width: 220px;
    min-width: 220px;
    box-shadow: 0px 0px 10px 2px black;
}

.icon {
    max-height: 150px;
    max-width: 150px;
    width: 150px;
    height: 150px;
}

.day {
    margin-bottom: 15px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.609);
}

.temperature {
    font-size: 30px;
    color: white;
}

.description {
    font-size: 16px;
    color: white;
}

.weather-icons {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

.wind-wrapper, .humidity-wrapper, .clouds-wrapper {
    justify-content: space-around;
    padding: 10px;
    color: white;
}

div>article {
    text-align: center;
}

div>article>p {
    font-size: 14px;
}