<section class="sign-up-wrapper">
    <form [formGroup]="form" class="sign-up-form" (ngSubmit)="submitHandler()">
        <article class=" sign-up-body">
            <h1>Sign Up</h1>
            <input name="name" type="text" placeholder="Name" formControlName="name">
            <input name="email" type="text" placeholder="E-mail" formControlName="email">
            <input name="password" type="password" placeholder="Password" formControlName="password">
            <input name="confirmPassword" type="password" placeholder="Confirm Password"
                formControlName="confirmPassword">
            <button type="submit">Sign Up</button>
            <p>Already have an account? <a href="/login">Login</a></p>
        </article>
    </form>
</section>