<section class="login-wrapper">
    <form #f="ngForm" class="login-form" (ngSubmit)="submitHandler(f.value)">
        <article class="login-body">
            <h1>Login</h1>
            <input #userEmail="ngModel" name="email" type="text" placeholder="Email" ngModel required email>

            <p *ngIf="userEmail.touched && userEmail.errors?.required" class="error email-error">
                Email is required
            </p>

            <p *ngIf="userEmail.touched && userEmail.errors?.email" class="error email-error">
                Invalid Email
            </p>
            <input #userPassword="ngModel" name="password" type="password" placeholder="Password" ngModel required>

            <p *ngIf="userPassword.touched && userPassword.errors?.required" class="error password-error">
                Password is required
            </p>

            <button>Login</button>
            <p>Don't have an account? <a href="/user/signup">Sign up</a></p>
        </article>
    </form>
</section>