<section>
    <app-weather-now></app-weather-now>
    <div class="hourly-weather-wrapper">
        <article class="hourly-weather">
            <article *ngFor="let hour of hourList" class="hourly-weather-card">
                <p>{{formatHour(hour.dt)}}</p>
                <img class="icon" src={{weatherConditionHandler(hour.weather[0].main)}} alt="">
                <p>{{hour.main.temp.toFixed(0)}}&#176;</p>
            </article>
        </article>
    </div>
    <app-weather-options></app-weather-options>
</section>