section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.hourly-weather-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.hourly-weather {
    margin-top: 20px;
    margin-bottom: -30px;   
    display: flex;
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 10px 2px black;
}

.hourly-weather-card {
    padding: 20px 10px;
    border: 1px solid rgba(0, 0, 0, 0.466);
    background: linear-gradient(180deg, rgba(0, 66, 83, 0.719) 0%, rgba(42, 0, 82, 0.719) 50%, rgba(15, 0, 29, 0.719) 100%);
}

.icon {
    max-height: 150px;
    max-width: 150px;
    width: 150px;
    height: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hourly-weather-card>p {
    color: white;
    font-size: 20px;
}