*, body *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Red Hat Display';
    background-image: url(../src/assets/img/WAVE_BACKGROUND_NIGHT.svg);
}